@page "/clientes"
@attribute [Authorize(ContableWebPermissions.Clientes.Default)]
@using ContableWeb.Entities.Clientes
@inject AbpBlazorMessageLocalizerHelper<ContableWebResource> Lh
@inject IStringLocalizer<ContableWebResource> L
@inherits AbpCrudPageBase<IClienteAppService, ClienteDto, int, ClientePagedAndSortedResultRequestDto, CreateUpdateClienteDto>

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <CardTitle>@L["Clientes"]</CardTitle>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">

                @if (HasCreatePermission)
                {
                    <Button Color="Color.Primary"
                            Clicked="OpenCreateModalAsync">
                        <Icon Name="IconName.Add"/>
                        @L["NewCliente"]
                    </Button>
                }
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ClienteDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  CurrentPage="CurrentPage"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Sortable="true"
                  Filterable="true"
                  FilterMethod="DataGridFilterMethod.Contains"
                  FilterMode="DataGridFilterMode.Default"
                  PageSize="PageSize"
                  Narrow="true"
                  Hoverable="true">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="ClienteDto" @ref="@EntityActionsColumn" Filterable="false" Sortable="false">
                    <DisplayTemplate>
                        <EntityActions TItem="ClienteDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ClienteDto"
                                          Text="@L["Edit"]"
                                          Visible="HasUpdatePermission"
                                          Clicked="() => OpenEditModalAsync(context)"/>
                            <EntityAction TItem="ClienteDto"
                                          Text="@L["Delete"]"
                                          Visible="HasDeletePermission"
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="()=>GetDeleteConfirmationMessage(context)"/>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="ClienteDto"
                                Field="@nameof(ClienteDto.TipoDocumento)"
                                Caption="@L["Tipo Documento"]"
                                Filterable="false"
                                Sortable="true">
                    <DisplayTemplate>
                        @L[$"Enum:TipoDoc.{(int)context.TipoDocumento}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="ClienteDto"
                                Field="@nameof(ClienteDto.NumeroDocumento)"
                                Caption="@L["Numero Documento"]"
                                Filterable="true"
                                Sortable="true">
                    
                </DataGridColumn>
                <DataGridColumn TItem="ClienteDto"
                                Field="@nameof(ClienteDto.Nombre)"
                                Caption="@L["Razon Social"]"
                                Filterable="true"
                                Sortable="true">
                </DataGridColumn>
                <DataGridColumn TItem="ClienteDto"
                                Field="@nameof(ClienteDto.CondicionIva)"
                                Caption="@L["Cond. I.V.A."]"
                                Filterable="false"
                                Sortable="true">
                    <DisplayTemplate>
                        @L[$"Enum:TipoCondIva.{(int)context.CondicionIva}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="ClienteDto"
                                Field="@nameof(ClienteDto.Email)"
                                Caption="@L["Email"]"
                                Filterable="true"
                                Sortable="true">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <Form>
            <ModalHeader TextWeight="TextWeight.Bold">
                <Icon Name="IconName.User" IconStyle="IconStyle.Solid" TextColor="TextColor.Primary" 
                     IconSize="IconSize.Large" Style="margin-right: 4px;" />
                <ModalTitle Casing="CharacterCasing.Upper">@L["NewCliente"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is3">
                                <Field>
                                    <FieldLabel>@L["Tipo Documento"]</FieldLabel>
                                    <Select TValue="TipoDoc" @bind-SelectedValue="@NewEntity.TipoDocumento">
                                        @foreach (int tipoValue in Enum.GetValues(typeof(TipoDoc)))
                                        {
                                            <SelectItem TValue="TipoDoc" Value="@((TipoDoc) tipoValue)">
                                                @L[$"Enum:TipoDoc.{tipoValue}"]
                                            </SelectItem>
                                        }
                                    </Select>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is3">
                                <Field>
                                    <FieldLabel>@L["Numero Documento"]</FieldLabel>
                                    <TextEdit @bind-Text="@NewEntity.NumeroDocumento"/>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>@L["Condicion frente al I.V.A."]</FieldLabel>
                                    <Select TValue="TipoCondIva" @bind-SelectedValue="@NewEntity.CondicionIva">
                                        @foreach (int condValue in Enum.GetValues(typeof(TipoCondIva)))
                                        {
                                            <SelectItem TValue="TipoCondIva" Value="@((TipoCondIva)condValue)">
                                                @L[$"Enum:TipoCondIva.{condValue}"]
                                            </SelectItem>
                                        }
                                    </Select>
                                </Field>
                            </Column>
                        </Row>
                    </Validation>
                    <Validation>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>@L["Razon Social"]</FieldLabel>
                                    <TextEdit @bind-Text="@NewEntity.Nombre">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Validation>
                                    <Field>
                                        <FieldLabel>@L["Correo Electronico"]</FieldLabel>
                                        <TextEdit @bind-Text="@NewEntity.Email" InputMode="TextInputMode.Email">
                                            <Feedback>
                                                <ValidationError/>
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>            
                            </Column>
                        </Row>
                    </Validation>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is8">
                            <Field>
                                <FieldLabel>@L["Domicilio"]</FieldLabel>
                                <TextEdit @bind-Text="@NewEntity.Domicilio"/>
                            </Field>        
                        </Column>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Field>
                                <FieldLabel>@L["Telefono"]</FieldLabel>
                                <TextEdit @bind-Text="@NewEntity.Telefono"/>
                            </Field>        
                        </Column>
                    </Row>
                    <Field>
                        <FieldLabel>@L["Observaciones"]</FieldLabel>
                        <MemoEdit Rows="5" @bind-Text="@NewEntity.Observaciones"/>
                    </Field>

                    <Field>
                        <FieldLabel>@L["Habilitado"]</FieldLabel>
                        <Switch @bind-Checked="@NewEntity.Enabled"/>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">@L["Guardar"]</Button>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">@L["Cancelar"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@EditModal">
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <Form>
            <ModalHeader>
                <Icon Name="IconName.User" IconStyle="IconStyle.Solid" TextColor="TextColor.Primary" 
                     IconSize="IconSize.Large" Style="margin-right: 4px;" />
                <ModalTitle>@EditingEntity.Nombre</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is3">
                                <Field>
                                    <FieldLabel>@L["Tipo Documento"]</FieldLabel>
                                    <Select TValue="TipoDoc" @bind-SelectedValue="@EditingEntity.TipoDocumento">
                                        @foreach (int tipoValue in Enum.GetValues(typeof(TipoDoc)))
                                        {
                                            <SelectItem TValue="TipoDoc" Value="@((TipoDoc)tipoValue)">
                                                @L[$"Enum:TipoDoc.{tipoValue}"]
                                            </SelectItem>
                                        }
                                    </Select>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is3">
                                <Field>
                                    <FieldLabel>@L["Numero Documento"]</FieldLabel>
                                    <TextEdit @bind-Text="@EditingEntity.NumeroDocumento" />
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>@L["Condicion frente al I.V.A."]</FieldLabel>
                                    <Select TValue="TipoCondIva" @bind-SelectedValue="@EditingEntity.CondicionIva">
                                        @foreach (int condValue in Enum.GetValues(typeof(TipoCondIva)))
                                        {
                                            <SelectItem TValue="TipoCondIva" Value="@((TipoCondIva)condValue)">
                                                @L[$"Enum:TipoCondIva.{condValue}"]
                                            </SelectItem>
                                        }
                                    </Select>
                                </Field>
                            </Column>
                        </Row>
                    </Validation>

                    <Validation>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>@L["Razon Social"]</FieldLabel>
                                    <TextEdit @bind-Text="@EditingEntity.Nombre">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                <Field>
                                    <FieldLabel>@L["Correo Electronico"]</FieldLabel>
                                    <TextEdit @bind-Text="@EditingEntity.Email" InputMode="TextInputMode.Email">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Column>
                        </Row>
                    </Validation>

                    <Row>
                        <Column ColumnSize="ColumnSize.Is8">
                            <Field>
                                <FieldLabel>@L["Domicilio"]</FieldLabel>
                                <TextEdit @bind-Text="@EditingEntity.Domicilio" />
                            </Field>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Field>
                                <FieldLabel>@L["Telefono"]</FieldLabel>
                                <TextEdit @bind-Text="@EditingEntity.Telefono" />
                            </Field>
                        </Column>
                    </Row>

                    <Field>
                        <FieldLabel>@L["Observaciones"]</FieldLabel>
                        <MemoEdit Rows="5" @bind-Text="@EditingEntity.Observaciones" />
                    </Field>

                    <Field>
                        <FieldLabel>@L["Habilitado"]</FieldLabel>
                        <Switch @bind-Checked="@EditingEntity.Enabled" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">@L["Guardar"]</Button>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">@L["Cancelar"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {

    public Clientes()
    {
        CreatePolicyName = ContableWebPermissions.Clientes.Create;
        UpdatePolicyName = ContableWebPermissions.Clientes.Edit;
        DeletePolicyName = ContableWebPermissions.Clientes.Delete;
    }

    protected override Task OnDataGridReadAsync(DataGridReadDataEventArgs<ClienteDto> e)
    {
        var nombre = e.Columns.FirstOrDefault(c => c.SearchValue != null && c.Field == "Nombre");
        if (nombre != null) GetListInput.Nombre = nombre.SearchValue.ToString();
        
        var documento = e.Columns.FirstOrDefault(c => c.SearchValue != null && c.Field == "NumeroDocumento");
        if (documento != null) GetListInput.NumeroDocumento = documento.SearchValue.ToString();
        
        var email = e.Columns.FirstOrDefault(c => c.SearchValue != null && c.Field == "Email");
        if (email != null) GetListInput.Email = email.SearchValue.ToString();
        
        return base.OnDataGridReadAsync(e);
    }

}